@tailwind base;
@tailwind components;
@tailwind utilities;

.backface-hidden {
  backface-visibility: hidden;
}

.preserve-3d {
  transform-style: preserve-3d;
}

.t-transform {
  transition: transform 0.5s;
}

.drop-cap:first-letter {
  @apply float-left text-3xl leading-none align-middle mt-1 mr-1 font-bold;
}
